.GridViewStyle {
    border-right: 2px solid #A7A6AA;
    border-bottom: 2px solid #A7A6AA;
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 4px;
}

    .GridViewStyle a {
        color: #5D7B9D;
    }

.GridViewHeaderStyle th {
    border-left: 1px solid #ff0000;
    border-right: 1px solid #EBE9ED;
}


.GridViewRowStyle {
    background-color: rgba(99, 172, 228, 0.70);
    color: black;
}

.GridViewAlternatingRowStyle {
    background-color: black;
    color: black;
}

    .GridViewRowStyle td, .GridViewAlternatingRowStyle td {
        border: 1px solid #EBE9ED;
    }

